body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body, .modal {
    background-color: #f7f7f7;
}

.page.header {
    text-align: center;
    border-bottom: 1px solid #333;
    box-shadow: 0 0 15px rgba(0,0,0,0.75);
    clip-path: inset(0  0 -15px 0);
    padding: 50px;
    margin-bottom: 50px;
    background-color: white;
}

.header h1 {
    font-weight: 300;
}

img.logo {
    width: 100px;
    height: auto;
}

button  {
    border: 1px solid black;
    padding: 12px;
    border-radius: 8px;
    background-color: white;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
}

button:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}

.modal::backdrop {
    background-color: rgba(0,0,0,0.75);
}

.modal {
    height: 80%;
    width: 30%;
    border-radius: 8px;
    border: none;
    padding: 0;
}

.modal.header {
    width: 100%;
    border-bottom: 1px solid #333;
    box-shadow: 0 0 15px rgba(0,0,0,0.75);
    clip-path: inset(0  0 -15px 0);
    background-color: white;
    border-radius: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.modal h2 {
    margin: 0;
}

.form-row {
    margin-bottom: 20px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
    padding-left: 20px;
    padding-right: 20px;
}
  
  .form-row input,
  .form-row select {
    background-color: #FFFFFF;
    border: 1px solid #D6D9DC;
    border-radius: 3px;
    width: 100%;
    font-size: 14px;
    padding-top: 8px;
    padding-bottom: 8px;
}
  
  .form-row label {
    align-self: flex-start;
    margin-bottom: 15px;
}

.modal .btns {
    margin: 20px 20px 0 20px;
    padding-top: 10px;
    border-top: 1px solid #D6D9DC;
}

.btns button {
    margin: 20px 10px 0 0;
}

.table-container {
    display: flex;
    justify-content: center;
}

table {
    border-collapse: collapse;
    width: 80%;
}

th {
    padding: .5rem;
    border-bottom: 1px solid #333;
    font-weight: 500;
    text-align: start;
}